@@include('../_header.html')
<div class="container" ng-controller="DashboardCtrl">
    <div class="content1">
        <div class="content-container">
            <div class="row">
                <div id="overlay" ng-click="hideOverlay()" class="window"></div>
                <div id="loading"></div>
                <div class="col-xs-3 menu-list">
                    <!-- Local -->
                    <ul class="nav nav-pills nav-stacked header-links" ng-hide="isSuperAdmin">
                        <li role="presentation" ng-class="{activeTab:currentState.match('home')}">
                            <a href="/#/dashboard/home" >
                                <div class="dashboard-icon"></div><span class="menu-option">DASHBOARD</span>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{activeTab:currentState.match('colleges')}">
                            <a href="/#/dashboard/colleges" >
                                <div class="course-icon"></div><span class="menu-option">COLLEGES</span>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{activeTab:currentState.match('users')}">
                            <a href="/#/dashboard/users" >
                                <div class="faculty-icon"></div><span class="menu-option">USERS</span>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{activeTab:currentState.match('fileupload')}">
                            <a href="/#/dashboard/fileupload" >
                                <div class="classes-icon"></div><span class="menu-option">FILE UPLOAD</span>
                            </a>
                        </li>
                    </ul>


                   <!--  <ul class="nav nav-pills nav-stacked header-links" ng-hide="isSuperAdmin">
                        <li role="presentation" ng-class="{activeTab:currentState.match('home')}">
                            <a href="/#/dashboard/home" >
                                <div class="dashboard-icon"></div><span class="menu-option">DASHBOARD</span>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{activeTab:currentState.match('colleges')}">
                            <a href="/#/dashboard/colleges" >
                                <div class="course-icon"></div><span class="menu-option">COLLEGES</span>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{activeTab:currentState.match('users')}">
                            <a href="/#/dashboard/users" >
                                <div class="faculty-icon"></div><span class="menu-option">USERS</span>
                            </a>
                        </li>
                        <li role="presentation" ng-class="{activeTab:currentState.match('fileupload')}">
                            <a href="/#/dashboard/fileupload" >
                                <div class="classes-icon"></div><span class="menu-option">FILE UPLOAD</span>
                            </a>
                        </li>
                    </ul> -->
                    
                        
                </div>
                <div class="col-xs-9 sub-area">
                    <div class="content">
                        <div class="content-container">
                            <div ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
